* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
  background-image: linear-gradient(
    to top,
    rgb(250, 250, 110),
    rgb(196, 236, 116)
  );
  min-height: 100vh;
}

input[type="color"] {
  border: none;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 2rem 0.7rem;
}

.left_container {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 15px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}

.buttons {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  flex-wrap: wrap;
}

.row1 {
  display: flex;
}
.row2 {
  display: flex;
}
.blank {
  width: 100px;
  height: 100px;
}

.row3 {
  display: flex;
}

label img {
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: 0.5s ease;
}

label img:hover {
  background-color: grey;
}

input[type="radio"] {
  display: none;
}

.rgbCode {
  margin-top: 3rem;
  color: rgb(28, 27, 25);
}

.rgbCode span {
  font-weight: bolder;
  margin-right: 6px;
  color: rgb(43, 41, 39);
}
